/* Importa a fonte "Roboto" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


body {
  background-color: #fff;
  height: 100vh;
  
}

#principal{
  background-image: linear-gradient( #000, #7a7676, #ffffff);

}

nav {
  background-image: linear-gradient(to bottom, #000, #1e1b1b);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.nav-links {
  list-style-type: none;
  display: flex;
}


.nav-links li {
  margin-right: 15px;
}


.nav-links li a {
  padding: 20px;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 30px;
}


.nav-links li a:hover {
  color: #aeb2b8;
  padding: 20px;
  font-size: 35px;
  transform: scale(1.2);
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}


.logo img {
  width: 120px;
  transition: transform 0.3s;
}

.logo img:hover {
  transform: scale(1.2);
}

.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: #fff;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.shoes {

  animation: slideInLeft 1s forwards;
  margin-left: 150px;
}


@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


.content span {
  padding: 30px;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  margin-left: 280px ;
  letter-spacing: 1px;
  animation: slideRight 1s forwards;
}

.twoContent{
  background-color: #fff;
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  
}

.photo {
  background-color: rgb(157, 154, 154);
  width: 300px;
  height: 300px;
  transition: transform 0.3s;
  border-radius: 10px;
  
}

.photo:hover{
  transform: scale(1.1);
}

.tenis2 {
  width: 300px;
  height: 300px;
}

#but {
  margin-top: 33px;
}

#butcommit{
  margin-top: -23px;
}

.rating {
  color: #f39c12; /* Cor das estrelas */
  font-size: 24px; /* Tamanho das estrelas */
}

.rating i {
  margin-right: 5px; /* Espaçamento entre as estrelas */
}


.commit {
  margin-top: 10px;
  padding-left: 10px;
}

