*{
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.container img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}